###############################################################################
# Playerbots module (Gate 1 compile-only stub)
#
# Copied to bin/.../modules/mod-playerbots.conf.dist at build time.
# Override with modules/mod-playerbots.conf beside worldserver.exe (not overwritten).
#
# See modules/mod-playerbots/README.md and modules/README.md
###############################################################################

Playerbots.Enable = 0
